/* Sidebar */
.sidebar {
  width: 280px;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 20px 20px 16px;
  background-color: var(--white);
  border-right: 1px solid var(--gray-100);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s;
  z-index: 1001;
  scrollbar-width: thin;
  .sidebar-logo {
    display: block;
    text-decoration: none;
    margin-bottom: 24px;
    img {
      display: block;
      width: 110px;
    }
  }
  .sidebar-links {
    display: flex;
    flex-direction: column;
    .link {
      height: 48px;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: #8a948c;
      line-height: 1;
      text-decoration: none;
      border-bottom: 1px solid #f2f4f7;
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.2s;
      &.active {
        color: var(--brand-orange);
      }
    }
  }
  .sidebar-actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  // Sidebar Opened State
  &.sidebar--open {
    transform: translateX(0);
    .sidebar-links .link {
      opacity: 1;
      transform: translateY(0);
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition-delay: #{$i * 0.05s + 0.05s};
        }
      }
    }
  }
}

.btn-close-sidebar {
  position: fixed;
  top: 12px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  background-color: var(--white);
  padding: 0;
  border: 0;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  z-index: 1002;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  visibility: hidden;
  &.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}

.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background: rgba(52, 64, 84, 0.16);
  backdrop-filter: blur(8px);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  visibility: hidden;
  &.show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
